<div class="container">
  <form action="/reminder" method="POST">
    <div class="form-group">
      <label for="title">Title</label>
      <input type="text" class="form-control" id="titleInput" placeholder="Title" name="title">
    </div>
    <div class="form-group">
      <label for="description">Description</label>
      <textarea class="form-control" id="descriptionInput" rows="3" placeholder="Description" name="description"></textarea>
    </div>
    <div class="form-group">
      <label for="image">Image</label>
      <input class="form-control" id="imageInput" rows="3" placeholder="Image" name="image"></input>
    </div>
    <div class="form-group">
      <label for="tag">Tags</label>
      <input class="form-control" id="tagsInput" rows="3" placeholder="tag1, tag2, tag3..." name="tags"></input>
    </div>
    <div class="form-group">
      <label for="subtask">Subtasks</label>
      <input class="form-control" id="subtasksInput" rows="3" placeholder="subtask1, subtask2, subtask3..." name="subtasks"></input>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
</div>

